html, body {
    overflow-x: hidden;
}
.node circle {
    fill: #2d3748;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
    transition: fill 0.3s;
  }
  .node circle:hover {
    fill: #4a5568;
  }
  .node text {
    fill: #FFFF;
    font-size: 14px;
    pointer-events: none;
  }
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  #detail-box {
    position: absolute;
    background: white;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: none;
    pointer-events: auto;
    max-width: 300px;
  }
